html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
  margin: 0;
  color: var(--beige);
}

article,
aside,
footer,
header,
nav,
section {
  display: block
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

figcaption,
figure,
main {
  display: block
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

pre {
  font-family: monospace, monospace;
  font-size: 1em
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b,
strong {
  font-weight: inherit
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em
}

dfn {
  font-style: italic
}

mark {
  background-color: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

audio,
video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  cursor: pointer;
}

button,
input {
  overflow: visible
}

button,
select {
  text-transform: none
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  padding: .35em .75em .625em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

progress {
  display: inline-block;
  vertical-align: baseline
}

textarea {
  overflow: auto
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

details,
menu {
  display: block
}

summary {
  display: list-item
}

canvas {
  display: inline-block
}

template {
  display: none
}

[hidden] {
  display: none
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BASE STYLING */

html {
  font-size: 125%;
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-color: var(--darkPurple);
  scroll-behavior: smooth;
}

.wrapper {
  margin: 0 auto;
  max-width: 1260px;
  width: 80%;
}

:root {
  --lightPurple: rgba(56, 58, 89, 1);
  --teal: #007991;
  --lime: #C7EF00;
  --darkPurple: rgba(35, 36, 61, 1);
  --beige: rgba(255, 255, 255, 0.90);

}

button {
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: var(--beige);
  border: 2px solid var(--beige);
  border-radius: 25px;
  padding: 6px 15px;
  margin: 5px;
  background-image: linear-gradient(75deg, var(--teal), var(--lime));
  background-size: 400%;
  background-position: left;
  transition: 0.5s background-position ease-in-out;
  font-weight: bold;
}

button:hover,
button:focus {
  cursor: pointer;
  background-position: right;
  color: black;
}

select {
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-family: inherit;
  text-align: center;
  border: none;
  margin: 5px;
  padding: 0 5px;
  color: var(--beige);
  background-color: var(--lightPurple);
  border-bottom: 1px solid var(--beige);
  text-transform: lowercase;
}

input {
  font-size: clamp(0.8rem, 1vw, 1rem);
  border-radius: 15px;
  padding: 5px 15px;
  margin: 5px;
  border: 2px solid var(--beige);
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: clamp(1.5rem, 7vw, 4rem);
  margin: 120px 0 40px;
}

h2 {
  font-size: clamp(1.3rem, 6vw, 2.5rem);
  margin: 80px 0 20px;
  text-decoration: underline;
}

h3 {
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  margin: 10px 0;
}

h4 {
  text-shadow: none;
}

p {
  font-size: clamp(0.9rem, 3vw, 1.1rem);
  padding: 0;
  margin: 0;
}

.homeLink {
  background-color: var(--teal);
  border: solid 2px var(--beige);
  border-radius: 15px;
  margin-top: 10px;
  padding: 6px 20px;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
}

/* SEARCH FORM STYLING */

.intro {
  font-weight: bold;
  padding: 15px;
  margin-bottom: 60px;
}

/* RESULTS STYLING */

.movieContainer {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.moviePoster {
  min-width: 50%;
  filter: drop-shadow(0 0 1rem white);
}

.movieInformation {
  margin-left: 30px;
  text-align: left;
}

.movieInformation p {
  padding: 10px 0px;
  text-align: left;
}

.addMovie {
  margin-left: 0;
}


.trailerLinks {
  transition: 0.3s linear all;
}

.trailerLinks:hover,
.trailerLinks:focus {
  background-color: var(--teal);
  border-radius: 15px;
  padding: 0px 15px;
}

/* LIST PANEL / DISPLAY LIST COMPONENT STYLING */

.listSection {
  text-align: right;
  padding: 15px 10px;
}

.listSection li {
  font-size: clamp(0.8rem, 4vw, 1rem);
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  transition: 0.4s linear all;
}

.listSection li:hover,
.listSection li:focus {
  letter-spacing: 1.2px;
}

.listSection li:after {
  border-bottom: 1px solid var(--beige);
  display: block;
  content: '';
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: 0% 50%;
}

.listSection li:hover:after {
  transform: scaleX(1);
  transform-origin: 100% 50%;
}

.createList {
  width: 95%;
  border: 2px solid var(--beige);
}

.deleteList {
  padding: 3px;
  margin-left: 12px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: var(--teal);
  border: 2px solid var(--beige);
  transition: 0.3s linear all;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.listPanel {
  background-color: var(--lightPurple);
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 320px;
  padding: 60px 15px;
  z-index: 10;
  transform: translateX(-335px);
  transition: transform 0.5s ease-in-out;
  overflow-y: auto;
}

.panelActive {
  transform: translateX(0);
}

.listPanelToggle {
  transition: 0.3s ease-in all;
  color: var(--beige);
  position: fixed;
  cursor: pointer;
  border: 2px solid var(--lightPurple);  
  z-index: 20;
  top: 8px;
  left: 15px;
  width: 225px;
  height: 33px;
  font-size: 0.85rem;
  background: var(--teal);
  background-image: linear-gradient(75deg, var(--teal), var(--teal), var(--teal), var(--lime));
}

.listPanelToggle:hover,
.listPanelToggle:focus {
  border: 2px solid var(--beige);
  color: var(--beige);
}

.spinner {
  transition: 0.3s all;
  position: fixed;
  height: 3px;
  width: 25px;
  background-color: var(--beige);
}

.horizontal {
  transition: 0.3s all;
  position: fixed;
  margin-right: auto;
  margin-left: 0;
  margin-top: 3px;
  top: 27px;
}

.diagonal.part-1 {
  transition: 0.3s all;
  position: fixed;
  margin-right: auto;
  margin-left: 0;
  top: 24px;
}

.diagonal.part-2 {
  transition: 0.3s all;
  position: fixed;
  margin-right: auto;
  margin-left: 0;
  margin-top: 3px;
  top: 33px;
}

.listLabel {
  display: block;
  transition: 0.3s all;
  position: fixed;
  top: 20px;
  width: 142px;
  border-radius: 15px;
  margin-left: 18px;
  padding-top: 3px;
  font-weight: bold;
  text-align: center;
}

.diagonalActive {
  transition: all 0.3s;
  opacity: 0;
}

.diagonal.line1Active {
  transition: all 0.3s;
  transform: rotate(135deg);
  margin-top: 5px;
}

.diagonal.line2Active {
  transition: all 0.3s;
  transform: rotate(-135deg);
  margin-top: -4px;
}

/* lIST STYLING */

.userList form {
  margin-bottom: 20px;
}

.userList form p {
  font-size: clamp(1rem, 3vw, 1.2rem);
  display: inline;
  font-weight: bold;
}

.userList form select {
  min-width: 200px;
}

.userList ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.listPoster {
  margin: 15px;
  padding: 20px;
  background-color: var(--lightPurple);
  border-radius: 10px;
  width: 30%;
}

.nlfButton {
  display: block;
  margin: 15px auto;
  font-size: 1rem;
}

li img {
  min-width: 100%;
  border-radius: 10px;
  ;
}

li h3 {
  font-size: clamp(1rem, 2vw, 1.5rem)
}

.listButton {
  padding: 5px 10px;
  margin: 15px;
}

.winningText {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: clamp(1rem, 1vw, 1.5rem);
  font-family: 'Josefin Sans', sans-serif;
}

.noMovies {
  margin: 60px 0;
  font-style: italic;
  font-weight: bold;
}

/* MODAL STYLING */

.modal,
.overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 20;
}

.overlay {
  background-color: rgba(49, 49, 49, 0.8);
}

.modalContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 30px;
}

.modalContent {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  min-width: 300px;
  max-width: 600px;
  line-height: 1.25rem;
  background-color: #e7e7e7;
  padding: 50px;
  z-index: 999;
}

.modalContent h1 {
  line-height: 70px;
}

.modalContent img {
  width: 20%;
}

.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
}

body.activeModal {
  overflow-y: hidden;
}

.hidden {
  visibility: hidden;
  display: none;
}

/* FOOTER STYLING */

footer {
  margin: 160px 0px 10px;
  padding: 5px 0;
  letter-spacing: 1.25px;
}

footer p {
  font-size: 0.8rem;
}

footer a {
  display: inline-block;
  position: relative;
}

footer a:not(:first-child) {
  padding-left: 4px;
}

footer a::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 0px;
  height: 1px;
  background: var(--beige) none repeat scroll;
  transition: width .6s ease 0s;
}

footer a:hover::before {
  width: 100%;
}



/* MEDIQ QUERIES */

@media (max-width:1079px) {
  .movieContainer h1 {
    line-height: 50px;
    margin: 10px 0;
  }

  .movieContainer,
  .modalContentContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }

  .movieInformation,
  .movieInformation p {
    text-align: center;
  }

  .modalContentContainer img {
    width: 50%;
  }
}

@media (max-width: 900px) {

  .listPoster {
    width: 100%;
    margin: 15px 0;
  }

  .userList ul {
    flex-direction: column;
  }
}

@media (max-width: 550px) {

  .movieInformation,
  .movieInformation p {
    text-align: left;
    margin-left: 0;
  }

  .addMovie {
    margin-left: 0;
  }
}

@media (max-width: 380px) {

  .listSection li:hover,
  .listSection li:focus {
    letter-spacing: initial;
  }
}