.movieContainer {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.moviePoster {
    min-width: 40%;
}

.movieInformation {
    margin-left: 30px;
}

.movieInformation p {
    padding: 10px 0px;
}

.movieInformation span {
    text-shadow: 1px 1px var(--sage)
}